
body{
    padding:5rem 10rem;
    text-align: center;
    display: grid;
    justify-content: center;
}

table{
    width:100%;
    border-collapse: collapse;
}
th,td{
    padding:1.5rem;
    border-bottom: 1px solid black;
}
td{
    border-top: 1px solid black;
}

